/* src/styles/StarCanvas.module.css */
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Asegura que esté detrás de todo el contenido */
  pointer-events: none; /* Asegura que no interfiera con la interacción del usuario */
}
