.bg-hero {
    position: absolute;
    transform: rotate(160deg);
    width: 800px;
    height: 800px;
    border-radius:9999px ;
    background: conic-gradient(#0A0C10 0%,#000000 20%, #E52996 51%, #18457C 54%, rgba(22, 62, 111, 1) 75% );
    filter: blur(4rem);
    z-index: 0; 
}

.selectItem {

    animation: bounce; 
    animation-duration: 1s
}


@keyframes bounce {
    0% {font-size: 12px}
    100% {font-size: 12px}

}

@media (min-width: 768px) {


    .selectItem {
        font-size: 24px;
    }

    @keyframes bounce {
        0% {font-size: 12px}
        100% {font-size: 24px}
    }
}