/* ring.module.css */
.container {
    position: relative;
    box-sizing: border-box;
    width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem ;
    overflow: hidden;
    z-index: 3;
}

.ring {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%; /* Hace que el borde sea circular */
    max-width: 95vw;
    max-height: 95vw;
    transition: all 1s cubic-bezier(0, 0.55, 0.45, 1) 0s;
    z-index: 2;
}

.imgPlanet {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(0, 0.55, 0.45, 1) 0s;
    padding: 0.5rem;
    z-index: 3;
}

.withGradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: conic-gradient(#272731 25%, rgba(39, 39, 49, 0%) 50%, #272731 75%, rgba(39, 39, 49, 0%) 100%);
    mask: radial-gradient(farthest-side, transparent calc(100% - 3px), black 0);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 2px), black 0);

}

