.container {
    position: relative;
    height: calc(100vh - 8rem); /* Asegura que ocupe toda la altura de la ventana */
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el elemento completamente */
}

.ring {
    box-sizing: border-box;
    border-width: 3px;

    border-style: solid; /* Asegura que el borde sea visible */
    border-color: aliceblue;
    border-radius: 50%; /* Hace que el borde sea circular */

}